  *{ margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
} 

.top-bar{
    background:#111;
    color:#fff;
    padding:18px 0;
}
.black-btn{
    background-color: #f6d85d;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    display: inline-block;
    transform: rotate(-4deg);
}
.discount strong{
    color:#FFD400;
    margin-left:20px;
  font-size:30px;
} 
.shop-btn{
    background:#FFD400;
    border:none;
    padding:8px 18px;
    margin-left:20px;
    font-weight:bold;
} 
.right-side{
    display: flex;
    align-items: center;
    gap: 20px;
} 
 
header{
    background:#0B6AAE;
   padding:15px 0;   
}
.logo{
    color:#fff;
     font-size:30px;
    font-weight:700;
}
.logo i{
    margin-right:8px;
}
.search-box{
    display:flex;
    width:100%;
    height:48px;
    background:#fff;
    overflow:hidden;
    border-radius:3px;
}
.search-box input{
    flex:1;
    border:none;
    outline:none;
    padding:0 15px;
}
.search-box button{
    width:55px;
    border:none;
    background:white;
}
.icon{
    color:white;
    font-size:24px;
    margin-left:18px;
}
.icon:hover{
    color:#FFD400;
}
.menu{
    padding:15px 0;
    background:white;
    border-bottom:1px solid #e5e5e5;
}.nav-links{
    display:flex;
    align-items:center;
    list-style:none;
    gap:25px;
    margin:0;
    padding:0;
}
.nav-links a{
    color:#5F6C72;
    font-size:14px;
    transition:0.3s;
}
.nav-links a:hover{
    color:#FA8232;
}
.nav-links a:hover img{
    filter: brightness(0) saturate(100%) invert(59%) sepia(89%) saturate(1760%) hue-rotate(347deg) brightness(101%) contrast(97%);
}
.phone{
    font-size:18px;
    font-weight:500;
}
.phone i{
    margin-right:8px;
} 
.menu-btn{
    display:none;
    border:none;
    background:none;
    font-size:28px;
} 
@media(max-width:992px){
    .top-bar{
        display:none;
    }
    .logo{
        text-align:center;
        margin-bottom:15px;
    }
    .search-box{
        margin-bottom:15px;
    }
    .icon{
        margin:10px;
    }
    .menu-btn{
        display:block;
        margin-bottom:10px;
    }
    .nav-links{
        display:none;
        flex-direction:column;
        gap:15px;
    }
    .nav-links.active{
        display:flex;
    }
    .phone{
        margin-top:20px;
        text-align:center;
    }
}   
.info-bar{
    background:#0B6AAE;
    color:#fff;
    height:42px;
    border-bottom:1px solid rgba(255,255,255,.15);
    font-size:13px;
}
.info-bar .container{
    height:100%;
}
.follow{ font-size:15px;
    display:flex;
    align-items:center;
    gap:12px;
}
.follow i{
    font-size:15px;
    cursor:pointer;
}
 .line{
    width: 1px;
    height: 40px;
    background-color: rgba(255,255,255,0.25);
    margin: 0 25px;
}
.close-btn{
    width: 30px;
    height: 30px;
    background: #3d4348;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}  
        .select-box{
            position:relative;
            display:inline-block;
        }
.category-btn{
    width:170px;
    height:40px;
    border:none;
    background:#F2F4F5;
    border-radius:3px;
    padding:0 15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    cursor:pointer;
    transition:.3s;
    font-size:16px;
}
.category-btn:hover{
    background:#FA8232;
    color:#fff;
}
.category-btn:hover i{
    color:#fff;
}
.mega-menu{
    position:absolute;
    top:45px;
    left:0;
    width:250px;
    background:#fff;
    border:1px solid #ddd;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    display:none;
    z-index:9999;
}
.mega-menu.show{
    display:block;
}
.mega-menu a{
    display:block;
    padding:14px 18px;
    color:#333333a9;
    text-decoration:none;
    transition:.3s;
}
.mega-menu a:hover{
    background:#15151513;
    color:#121212;
} .dropdown{
    position:relative;
    margin-left:20px;
}
.drop-btn{
    display:flex;
    align-items:center;
    gap:6px;
    cursor:pointer;
    color:white;
    font-size:14px;
}
.drop-menu{
    position:absolute;
    top:35px;
    right:0;
    width:220px;
    background:#fff;
    border-radius:8px;
    box-shadow:0 8px 20px rgba(0,0,0,.15);
    display:none;
    overflow:hidden;
    z-index:999;
}
.drop-menu.show{
    display:block;
}
.drop-item{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:14px 18px;
    cursor:pointer;
      color: rgba(0, 0, 0, 0.458);
}
.drop-item:hover{
    background:#f5f5f5;
}
.item-left{
    display:flex;
    align-items:center;
    gap:12px;
}
.flag{
    width:22px;
    height:22px;
    border-radius:50%;
    object-fit:cover;
}
.check{
    color:#FA8232;
    display:none;
}
.drop-item.active .check{
    display:block;
} 
.drop-item span{
    color:rgba(0, 0, 0, 0.458);
}
/* ======me============== */
.breadcrumb-section{
    background-color:#F2F4F5 ;
}
.shopping-text{
    color:#2DA5F3 ;
}

.breadcrumb-section a:hover{
    color:#FA8232 !important;
}

.border{
    border:1px solid #E4E7E9 !important;
    border-radius:4px;
    background:#fff;
}

h4{
    font-size:22px;
    color:#191C1F;
}

h5{
    font-size:18px;
    color:#191C1F;
}

.form-label{
    font-size:14px;
    color:#191C1F;
    margin-bottom:8px;
}

.form-control,
.form-select{
    height:44px ;
    border:1px solid #CED4DA;
    border-radius:2px;
}
.form-control::placeholder,
.form-select{
    color:#77878F !important;
}

.form-control:focus,
.form-select:focus{
    box-shadow:none;
    border-color:#2DA5F3;
}

textarea.form-control{
    height:120px;
    resize:none;
}
/* PAYMENT METHOD */
.payment-box{
    border-right:1px solid #E4E7E9;
    height:100%;
    cursor:pointer;
    transition:.3s;
    gap:10px;
}

.payment-box:last-child{
    border-right:none;
}

.payment-box:hover{
    background:#F2F4F5;
}

.payment-img{
    width:42px;
    height:42px;
    object-fit:contain;
}

.payment-box input{
    margin:0;
}

.payment-box div{
    font-size:14px;
    color:#191C1F;
}
/*RIGHT SIDE */
#orderItems{
    margin-bottom:20px;
}
.product-name{
    width: 290px;
    font-size:14px;
    color:#191C1F;
    margin-bottom:6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}
.order-summary .summary-row{
    font-size:14px;
}

.order-summary .summary-row span:first-child{
    color:#5F6C72;
}

.order-summary .summary-row span:last-child{
    color:#191C1F;
}

.order-summary .summary-total{
    color:#191C1F;
    font-size:18px;
    font-weight:700;
}
.product{
    display:flex;
    margin-bottom:20px;
    align-items:center;
}

.product img{
    width:70px;
    height:70px;
    object-fit:contain;
    margin-right:15px;
}

.product-price{
    color:#2DA5F3;
    font-weight:bold;
    font-size:15px;
}
.qty{
    color: #7a8e97;
}

.text-danger{
    font-size:13px;
    margin-top:4px;
}
.btn-warning{
background:#FA8232;
color:white;
border:none;
border-radius:3px;
height:56px;
font-size:15px;
font-weight:600;
}


.btn-warning:hover{
    background:#ea741f;
    color:#fff;
}

.form-check{
    margin-top:15px;
}

.form-check-input:checked{
    background:#FA8232;
    border-color:#FA8232;
}



/*================ FOOTER ================*/
.footer{
    background:#191C1F;
    padding:70px 0 20px;
}.footer h6{
    color:#fff;
    font-size:15px;
    font-weight:bold;
    margin-bottom:20px;
     padding-left:35px;
}
.footer ul{
    list-style:none;
    padding:0;
}
.footer li{
    margin-bottom:12px;
}  
.store-btn{
    width:100%;
    background:#303639;
    border:none;
    color:#fff;
    padding:14px;
    border-radius:5px;
    margin-bottom:12px;
}
.tags{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}
.tags span{
    display: inline-block;
    padding: 7px 14px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    border: 1px solid #4E5560;
    border-radius: 2px;
    background: transparent;
    line-height: 1.2;
    cursor: pointer;
    transition: .3s;
}
.tags span:hover{
    background:#6e6c6c2d;
    border-color:white;
    color:#fff;
} 
.copy{
    text-align:center;
    color:#888;
    margin-top:25px;
}.footer ul li{
    position:relative;
    padding-left:35px;
}
.footer ul li::before{
    content:"";
    position:absolute;
    left:0;
    top:50%;
    transform:translateY(-50%);
    width:0;
    height:2px;
    background:#FFD400;
    transition:.3s;
}
.footer ul li a{
    color:#9CA3AF;
     text-decoration:none;
    transition:.3s;
}
.footer ul li:hover a{
    color:#FFD400;
}
.footer ul li:hover::before{
    width:24px;
} 
.footer h4{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600;
    margin: 10px 0 15px;
}.browse a{
    color:#FFD400 !important;
    font-weight:bold;
}

.product-image-tall{
    width: 100%;
    max-width: 320px;
    height: 550px;
    display: block;
    margin: 30px auto 0;
}

.phone-item{
    position: relative;
}

.phone-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: #333;
    padding: 10px;
}

.phone-arrow{
    opacity: 0;
    transition: 0.3s;
}

.phone-item:hover .phone-arrow{
    opacity: 1;
}

.phone-dropdown{
    position: absolute;
    left: 100%;
    top: 0;
    width: 180px;
    background: #fff;
    display: none;
    box-shadow: 0 5px 15px rgba(0,0,0,.15);
}

.phone-item:hover .phone-dropdown{
    display: block;
}

.phone-dropdown a{
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
}

.phone-dropdown a:hover{
    background: #f5f5f5;
}
.products-grid-box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-item-card {
    border: 1px solid #eee;
    background: #fff;
    overflow: hidden;
    transition: .4s;
}

.product-item-card:hover {
    box-shadow: 0 10px 20px rgba(0,0,0,.1);
}

.product-image-wrapper {
    position: relative;
    overflow: hidden;
}

.product-image-wrapper img {
    width: 100%;
    display: block;
    transition: .4s;
}

.product-item-card:hover .product-image-wrapper img {
    transform: scale(1.05);
}

.product-action-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 15px;
}

.product-action-buttons a {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #fff;
    color: #222;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    opacity: 0;
    transform: translateY(25px);
    transition: .4s;
}

.product-action-buttons a:first-child {
    background: #ff7a22;
    color: #fff;
}

.product-action-buttons a:hover {
    background: #ff7a22;
    color: #fff;
}

.product-item-card:hover .product-action-buttons a {
    opacity: 1;
    transform: translateY(0);
}

.product-item-card:hover .product-action-buttons a:nth-child(1) {
    transition-delay: 0s;
}

.product-item-card:hover .product-action-buttons a:nth-child(2) {
    transition-delay: .1s;
}

.product-item-card:hover .product-action-buttons a:nth-child(3) {
    transition-delay: .2s;
}

.product-details-content {
    padding: 18px;
}

.product-details-content h3 {
    font-size: 17px;
    line-height: 1.5;
    margin-bottom: 10px;
}

.product-price-box {
    display: flex;
    gap: 10px;
}

.old-product-price {
    color: #999;
    text-decoration: line-through;
}

.current-product-price {
    color: #ff7a22;
    font-weight: bold;
}